<table class="header">
  <tr>
    <td class="col-md-3 format" align="left">{{fs.data.TextLabel.APPLICATION_NAME}}</td>
    <td class="col-md-5">&nbsp;</td>
    <td *ngIf="fs.session.isActive(); else singleCell"
        align="center"
        class="col-md-1 link"
        [title]="fs.data.getImageAltText('myProfile')"
        (mouseover)="toggleImage('myProfile');"
        (mouseout)="toggleImage('myProfile');"
        (click)="activateMenu(headerMenu.MY_PROFILE);"
        [routerLink]="'myProfile'"
        routerLinkActive="routerLinkActive">
            <img
              height="32px"
              width="32px"
              class="img-responsive"
              style="display: block;"
              [title]="fs.data.getImageAltText('myProfile')"
              [src]="fs.data.getImageSrc('myProfile')"
              [alt]="fs.data.getImageAltText('myProfile')"
              #myProfile>
            <img
              height="32px"
              width="32px"
              class="img-responsive"
              style="display: none;"
              [title]="fs.data.getImageAltText('myProfile_inverted')"
              [src]="fs.data.getImageSrc('myProfile_inverted')"
              [alt]="fs.data.getImageAltText('myProfile_inverted')"
              #myProfile_inverted>
    </td>
    <td *ngIf="fs.session.isActive(); else singleCell"
        align="center"
        class="col-md-1 link"
        [title]="fs.data.getImageAltText('changePassword')"
        (mouseover)="toggleImage('changePassword');"
        (mouseout)="toggleImage('changePassword');"
        (click)="activateMenu(headerMenu.CHANGE_PASSWORD);"
        [routerLink]="'changePassword'"
        routerLinkActive="routerLinkActive">
            <img
              height="32px"
              width="32px"
              class="img-responsive"
              style="display: block;"
              [title]="fs.data.getImageAltText('changePassword')"
              [src]="fs.data.getImageSrc('changePassword')"
              [alt]="fs.data.getImageAltText('changePassword')"
              #changePassword>
            <img
              height="32px"
              width="32px"
              class="img-responsive"
              style="display: none;"
              [title]="fs.data.getImageAltText('changePassword_inverted')"
              [src]="fs.data.getImageSrc('changePassword_inverted')"
              [alt]="fs.data.getImageAltText('changePassword_inverted')"
              #changePassword_inverted>
    </td>
    <td *ngIf="fs.session.isActive(); else singleCell"
        align="center"
        class="col-md-1 link"
        [title]="fs.data.getImageAltText('logout')"
        (mouseover)="toggleImage('logout');"
        (mouseout)="toggleImage('logout');"
        (click)="activateMenu(headerMenu.LOGOUT);"
        [routerLink]="'logout'"
        routerLinkActive="routerLinkActive">
            <img
              height="32px"
              width="32px"
              class="img-responsive"
              style="display: block;"
              [title]="fs.data.getImageAltText('logout')"
              [src]="fs.data.getImageSrc('logout')"
              [alt]="fs.data.getImageAltText('logout')"
              #logout>
            <img
              height="32px"
              width="32px"
              class="img-responsive"
              style="display: none;"
              [title]="fs.data.getImageAltText('logout_inverted')"
              [src]="fs.data.getImageSrc('logout_inverted')"
              [alt]="fs.data.getImageAltText('logout_inverted')"
              #logout_inverted>
    </td>
    <td align="center"
        class="col-md-1"
        [title]="fs.data.getImageAltText('kiteLogoBig')">
              <img
                height="32px"
                width="32px"
                class="img-responsive"
                [title]="fs.data.getImageAltText('kiteLogoBig')"
                [src]="fs.data.getImageSrc('kiteLogoBig')"
                [alt]="fs.data.getImageAltText('kiteLogoBig')">
    </td>
  </tr>
</table>
<ng-template #singleCell><td class="col-md-1"></td></ng-template>
