<table class="header" *ngIf="fs.session.isActive(); else inActive">
  <tr>
    <td class="col-md-3 format" align="left">{{fs.data.TextLabel.APPLICATION_NAME}}</td>
    <td class="col-md-5">&nbsp;</td>
    <td *ngFor="let imageId of ['myProfile','changePassword','logout']"
        align="center"
        class="col-md-1 link"
        [title]="fs.data.getImageAltText(imageId)"
        (mouseover)="toggleImage(imageId);"
        (mouseout)="toggleImage(imageId);"
        (click)="activateMenu(imageId);"
        [routerLink]="imageId"
        routerLinkActive="routerLinkActive">
            <img *ngFor="let element of [{imageSubId: '', class: 'show'},{imageSubId: '_inverted', class: 'hide'}]"
              height="32px"
              width="32px"
              class="img-responsive {{element.class}}"
              [id]="imageId + element.imageSubId"
              [title]="fs.data.getImageAltText(imageId + element.imageSubId)"
              [src]="fs.data.getImageSrc(imageId + element.imageSubId)"
              [alt]="fs.data.getImageAltText(imageId + element.imageSubId)">
    </td>
    <td align="center"
        class="col-md-1"
        [title]="fs.data.getImageAltText('kiteLogoBig')">
              <img
                height="32px"
                width="32px"
                class="img-responsive"
                [title]="fs.data.getImageAltText('kiteLogoBig')"
                [src]="fs.data.getImageSrc('kiteLogoBig')"
                [alt]="fs.data.getImageAltText('kiteLogoBig')">
    </td>
  </tr>
</table>
<ng-template #inActive>
  <table class="header">
    <tr>
      <td class="col-md-3 format" align="left">{{fs.data.TextLabel.APPLICATION_NAME}}</td>
      <td class="col-md-8">&nbsp;</td>
      <td align="center"
          class="col-md-1"
          [title]="fs.data.getImageAltText('kiteLogoBig')">
        <img
          height="32px"
          width="32px"
          class="img-responsive"
          [title]="fs.data.getImageAltText('kiteLogoBig')"
          [src]="fs.data.getImageSrc('kiteLogoBig')"
          [alt]="fs.data.getImageAltText('kiteLogoBig')">
      </td>
    </tr>
  </table>
</ng-template>
