table.header {
  background-color: #346fa1;
  width: 100%;
}
td {
  color: white;
  outline: none;
}
.format {
  font-size: 30pt;
  text-shadow: 2px 2px #244d70;
}
td.link {
  cursor: pointer;
}
td.link:hover {
  background-color: white;
}
img {
  outline: none;
}
.routerLinkActive {
  background-color: white;
}
