<table class="panel-heading">
  <tr>
    <td class="col-md-4 format" align="left">{{ c.TextLabels.KITE_ADMIN }}</td>
    <td class="col-md-5">&nbsp;</td>
    <th class="col-md-1" *ngIf="session.isActive(); else singleCell" (click)="changePassword()">{{ c.ButtonLabels.CHANGE_PASSWORD }}</th>
    <th class="col-md-1" *ngIf="session.isActive(); else singleCell" (click)="logout()">{{ c.ButtonLabels.LOGOUT }}</th>
    <td class="col-md-1"><img class="img-responsive" [src]="c.Images.kiteLogoBig.src" [alt]="c.Images.kiteLogoBig.altText"></td>
  </tr>
</table>
<ng-template #singleCell><td class="col-md-1"></td></ng-template>
