table.header {
  background-color: #346fa1;
  width: 100%;
}
td {
  font-size: 30pt;
  color: white;
}
.format {
  text-shadow: 2px 2px #244d70;
}
td.link {
  cursor: pointer;
}
td.link:hover {
  border: 1px solid white;
  background-color: white;
}
