<form (ngSubmit)="onSubmit();">
  <table>
    <tr>
      <td><label for="name">{{constants.TextLabel.MERCHANT_NAME}}</label></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="text" class="form-control" name="name" id="name"></td>
    </tr>
    <tr>
      <td><label for="emailId">{{constants.TextLabel.MERCHANT_EMAIL_ID}}</label></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="text" class="form-control" name="emailId" id="emailId"></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
      <td colspan="3" align="center">
        <button type="submit" class="btn btn-primary">{{constants.ButtonLabel.SEND}}</button>
        <button type="reset" class="btn btn-default" (click)="ngOnInit()">{{constants.ButtonLabel.RESET}}</button>
      </td>
    </tr>
  </table>
</form>
