<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit();">
  <table>
    <tr>
      <td><label for="oldPassword" >{{c.TextLabel.OLD_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control" name="oldPassword" id="oldPassword" formControlName="oldPassword"></td>
      <td class="errorMessage">&nbsp;{{g.required(changePasswordForm.get('oldPassword'),c.Message.OLD_PASSWORD_REQUIRED_MESSAGE)}}</td>
    </tr>
    <tr>
      <td><label for="newPassword">{{c.TextLabel.NEW_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control" name="newPassword" id="newPassword" formControlName="newPassword"></td>
      <td class="errorMessage">&nbsp;{{v.newPassword(changePasswordForm.get('newPassword'))}}</td>
    </tr>
    <tr>
      <td><label for="confirmNewPassword">{{c.TextLabel.CONFIRM_NEW_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword"></td>
      <td class="errorMessage">&nbsp;{{v.confirmNewPassword(changePasswordForm.get('confirmNewPassword'))}}</td>
    </tr>
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr>
      <td colspan="3" align="center">
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">{{c.ButtonLabel.CHANGE}}</button>
        <button type="reset" class="btn btn-default" (click)="ngOnInit()">{{c.ButtonLabel.RESET}}</button>
      </td>
      <td></td>
    </tr>
  </table>
</form>
