<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit();">
  <table>
    <tr>
      <td><label for="oldPassword" >{{c.TextLabels.OLD_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control required" name="oldPassword" id="oldPassword" formControlName="oldPassword"></td>
      <td class="errorMessage">&nbsp;{{util.getRequiredMessage(changePasswordForm.get('oldPassword'),'OLD_PASSWORD_REQUIRED_MESSAGE')}}</td>
    </tr>
    <tr>
      <td><label for="newPassword">{{c.TextLabels.NEW_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control required" name="newPassword" id="newPassword" formControlName="newPassword"></td>
      <td class="errorMessage">&nbsp;{{util.getRequiredMessage(changePasswordForm.get('newPassword'),'NEW_PASSWORD_REQUIRED_MESSAGE')}}</td>
    </tr>
    <tr>
      <td><label for="confirmNewPassword">{{c.TextLabels.CONFIRM_NEW_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control required" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword"></td>
      <td class="errorMessage">&nbsp;{{util.getRequiredMessage(changePasswordForm.get('confirmNewPassword'),'CONFIRM_NEW_PASSWORD_REQUIRED_MESSAGE')}}</td>
    </tr>
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr>
      <td colspan="3" align="center">
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">{{c.ButtonLabels.CHANGE}}</button>
        <button type="reset" class="btn btn-default" (click)="ngOnInit()">{{c.ButtonLabels.RESET}}</button>
      </td>
      <td></td>
    </tr>
  </table>
</form>
