<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit();">
  <table>
    <tr>
      <td><label for="oldPassword" >{{this.dataService.textLabels().OLD_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control" name="oldPassword" id="oldPassword" formControlName="oldPassword"></td>
      <td class="errorMessage">&nbsp;{{validationService.getRequiredMessage(changePasswordForm.get('oldPassword'),'OLD_PASSWORD_REQUIRED_MESSAGE')}}</td>
    </tr>
    <tr>
      <td><label for="newPassword">{{this.dataService.textLabels().NEW_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control" name="newPassword" id="newPassword" formControlName="newPassword"></td>
      <td class="errorMessage">&nbsp;{{validationService.getRequiredMessage(changePasswordForm.get('newPassword'),'NEW_PASSWORD_REQUIRED_MESSAGE')}}</td>
    </tr>
    <tr>
      <td><label for="confirmNewPassword">{{this.dataService.textLabels().CONFIRM_NEW_PASSWORD}}</label><span style="color:red;">*</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword"></td>
      <td class="errorMessage">&nbsp;{{validationService.getRequiredMessage(changePasswordForm.get('confirmNewPassword'),'CONFIRM_NEW_PASSWORD_REQUIRED_MESSAGE')}}</td>
    </tr>
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr>
      <td colspan="3" align="center">
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">{{this.dataService.buttonLabels().CHANGE}}</button>
        <button type="reset" class="btn btn-default" (click)="ngOnInit()">{{this.dataService.buttonLabels().RESET}}</button>
      </td>
      <td></td>
    </tr>
  </table>
</form>
