<table width="100%">
  <tr><td colspan="3">&nbsp;</td></tr>
  <tr><td colspan="3">&nbsp;</td></tr>
  <tr>
    <td width="25%">&nbsp;</td>
    <td width="50%">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit();">
        <table width="100%">
          <tr>
            <td colspan="3" class="errorMessage" style="vertical-align: bottom;">&nbsp;{{forgotPasswordForm.getError('serverMessage')}}&nbsp;</td>
          </tr>
          <tr>
            <td width="30%"></td>
            <td width="40%" style="text-align: right;"><input type="password" placeholder="{{constants.TextLabel.NEW_PASSWORD}}" id="newPassword" class="form-control" formControlName="newPassword"></td>
            <td width="30%" style="text-align: left;" class="validationMessage">&nbsp;&nbsp;{{validator.newPassword(forgotPasswordForm.get('newPassword'))}}</td>
          </tr>
          <tr>
            <td width="30%"></td>
            <td width="40%" style="text-align: right;"><input type="password" placeholder="{{constants.TextLabel.CONFIRM_NEW_PASSWORD}}" id="confirmNewPassword" class="form-control" formControlName="confirmNewPassword"></td>
            <td width="30%" style="text-align: left;" class="validationMessage">&nbsp;&nbsp;{{validator.confirmNewPassword(forgotPasswordForm.get('confirmNewPassword'))}}</td>
          </tr>
          <tr>
            <td width="30%"></td>
            <td width="40%" style="text-align: center;">
              <button class="btn btn-primary" type="submit" [disabled]="!forgotPasswordForm.valid">{{constants.ButtonLabel.CHANGE}}</button>
              &nbsp;
              <button class="btn btn-default" type="button" (click)="forgotPasswordForm.reset();" [disabled]="!forgotPasswordForm.dirty">{{constants.ButtonLabel.RESET}}</button>
            </td>
            <td width="30%" class="col-md-4"></td>
          </tr>
        </table>
      </form>
    </td>
    <td width="25%">&nbsp;</td>
  </tr>
</table>
