td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.authMargin {
  margin-top: 2%;
  margin-left:15%;
}
.errorMessage {
  text-align: center;
  font-weight: normal;
  color: red;
  height: 80px;
}
.validationMessage {
  text-align: center;
  font-weight: normal;
  color: red;
  height: 40px;
}
