<br><br><br><br><br>
<table width="100%">
  <tr>
    <td width="15%">&nbsp;</td>
    <td width="20%">
      <table>
        <tr>
          <td><img [src]="fs.data.getImageSrc('kiteGreen')" [alt]="fs.data.getImageAltText('kiteGreen')" class="img-responsive shake-slow"></td>
          <td><img [src]="fs.data.getImageSrc('kiteOrange')" [alt]="fs.data.getImageAltText('kiteOrange')" class="img-responsive shake-slow"></td>
          <td><img [src]="fs.data.getImageSrc('kiteBlue')" [alt]="fs.data.getImageAltText('kiteBlue')" class="img-responsive shake-slow"></td>
        </tr>
        <tr>
          <td><img [src]="fs.data.getImageSrc('kiteOrange')" [alt]="fs.data.getImageAltText('kiteOrange')" class="img-responsive shake-slow"></td>
          <td><img [src]="fs.data.getImageSrc('kiteYellow')" [alt]="fs.data.getImageAltText('kiteYellow')" class="img-responsive shake-slow"></td>
          <td><img [src]="fs.data.getImageSrc('kiteRed')" [alt]="fs.data.getImageAltText('kiteRed')" class="img-responsive shake-slow"></td>
        </tr>
      </table>
    </td>
    <td width="5%">&nbsp;</td>
    <td width="50%">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit();">
        <table width="100%">
          <tr>
            <td width="20%"></td>
            <td width="40%" class="errorMessage">&nbsp;{{loginForm.getError('serverError')}}&nbsp;</td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td width="20%"></td>
            <td width="40%" style="text-align: right;"><input type="email" placeholder="{{fs.data.TextLabel.ENTER_USERNAME}}" id="userName" class="form-control" formControlName="userName"></td>
            <td width="40%" style="text-align: left;" class="errorMessage">&nbsp;&nbsp;{{fs.validator.getUsernameValidationMessage(loginForm.get('userName'))}}</td>
          </tr>
          <tr>
            <td width="20%"></td>
            <td width="40%" style="text-align: right;"><input type="password" placeholder="{{fs.data.TextLabel.ENTER_PASSWORD}}" id="password" class="form-control" formControlName="password"></td>
            <td width="40%" style="text-align: left;" class="errorMessage">&nbsp;&nbsp;{{fs.validator.getPasswordValidationMessage(loginForm.get('password'))}}</td>
          </tr>
          <tr>
            <td width="20%"></td>
            <td width="40%" style="text-align: center;">
              <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
                <span class="glyphicon glyphicon-log-in" #glyphicon></span>
                &nbsp;
                <span [innerHtml]="fs.data.ButtonLabel.LOGIN"></span></button>
              &nbsp;
              <button class="btn btn-default" type="button" [innerHtml]="fs.data.ButtonLabel.FORGOT_PASSWORD" (click)="forgotPassword();" [disabled]="!loginForm.get('userName').valid">
              </button>
            </td>
            <td width="40%" class="col-md-4"></td>
          </tr>
          <tr><td colspan="3"></td></tr>
          <tr><td colspan="3"></td></tr>
        </table>
      </form>
    </td>
    <td width="10%">&nbsp;</td>
  </tr>
</table>
