table {
  width: 70%;
}
th {
  width: 25%;
  border: 1px solid lightgray;
  padding: 2% 2% 2% 2%;
}
td {
  width: 40%;
  border: 1px solid lightgray;
  padding: 2% 2% 2% 2%;
}
td.even {
  background-color: #fefefe;
}
td.odd {
  background-color: #efefef;
}
th.even {
  background-color: #fefefe;
}
th.odd {
  background-color: #efefef;
}
