<table>
  <tr><th class="odd">{{dataService.textLabels().USER_NAME}}:</th><td class="odd">{{dataService.getUserName()}}</td></tr>
  <tr><th class="even">{{dataService.textLabels().FULL_NAME}}:</th><td class="even">{{dataService.getFullName()}}</td></tr>
  <tr><th class="odd">{{dataService.textLabels().USER_ROLE}}:</th><td class="odd">{{dataService.getUserRole()}}</td></tr>
  <tr><th class="even">{{dataService.textLabels().MOBILE_NUMBER}}:</th><td class="even">{{dataService.getMobileNumber()}}</td></tr>
</table>
